<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Display Table</h2>
        <p>show all Category</p>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Student_Name</th>
                    <th>Course_Name</th>
                    <th>Course_Pic</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
                {% if course %}
                {% for name in value %}
                <tr>
                    <td>{{name.student_id.id}}</td>
                    <td>{{name.student_id.Firstname}}</td>
                    <td>{{name.Course_name}}</td>
                    <td>{{name.Course_price}}</td>
                    <td></td>
                    <td></td>
                    <!-- <td>{{i.Student_name}}</td> -->
                    
                    <td><img style="height:50px;width:50px;border-radius:200px;" src="{{MEDIA_URL}}{{name.course_id.Course_Pic.url}}" alt="" srcset=""></td>
                
                </tr>
                {% endfor %}
                
                {% endif %}
            </tbody>
        </table>
        <button><a href="{% url 'tutorindex' %}">go to index page</a></button>
    </div>
</body>

</html>