{% extends "app/base1.html" %}
{% load static %}
{% block content %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>About-Us || Junior Child Care & Shop HTML5 Template - SHARED ON THEMELOCK.COM</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">
	<!-- Google font (font-family: 'Dosis', Roboto;) -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">



	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/plugins.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

	<!-- Cusom css -->
	<link rel="stylesheet" href="{% static '/css/custom.css' %}">

	<!-- Modernizer js -->
	<script src="{% static '/js/vendor/modernizr-3.5.0.min.js '%}"></script>
</head>
<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	
	<!-- <div class="fakeloader"></div> -->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		
		<!-- //Header -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="ht__bradcaump__container">
            	
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">About Us</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="{% url 'indexpage' %}">Home</a>
                                  
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
		<!-- Start Choose Us Area -->
		<section class="dcare__choose__us__area section-padding--lg bg--white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Little About Us</h2>
							<p>Distance learning or distance education is a type of business where teachers and students are not physically present. The first distance education was started in 1840. Today, this way of learning is popular.</p>
						</div>
					</div>
				</div>
				<div class="row mt--40">
					<!-- Start Single Choose Option -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="dacre__choose__option">
							<!-- Start Single Choose -->
							<div class="choose">
								<div class="choose__inner">
									<h4><a href="#">Language Lesson</a></h4>
									<p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
								</div>
								
							</div>
							<!-- End Single Choose -->
							<!-- Start Single Choose -->
							<div class="choose">
								<div class="choose__inner">
									<h4><a href="#">Meals Provided</a></h4>
									<p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
								</div>
							</div>
							<!-- End Single Choose -->
							<!-- Start Single Choose -->
							<div class="choose">
								<div class="choose__inner">
									<h4><a href="#">Transportation</a></h4>
									<p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
								</div>
								
							</div>
							<!-- End Single Choose -->
						</div>
					</div>
					<!-- End Single Choose Option -->
					<!-- Start Single Choose Option -->
					<div class="col-lg-4 col-md-6 col-sm-12 d-block d-lg-block d-md-none">
						<div class="dacre__choose__option">
							<div class="choose__big__img">
								<img src="\static\images\banner\mid-img\laptop-with-education-easy-e-learning-icons-vector-20756192.jpg" alt="choose images">
							</div>
						</div>
					</div>
					<!-- End Single Choose Option -->
					<!-- Start Single Choose Option -->
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="dacre__choose__option text__align--left">
							<!-- Start Single Choose -->
							<div class="choose">
								
								<div class="choose__inner">
									<h4><a href="#">Professional Teacher</a></h4>
									<p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
								</div>
							</div>
							<!-- End Single Choose -->
							<!-- Start Single Choose -->
							<div class="choose">
								
								<div class="choose__inner">
									<h4><a href="#">Smart Education</a></h4>
									<p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
								</div>
							</div>
							<!-- End Single Choose -->
							<!-- Start Single Choose -->
							<div class="choose">
								
								<div class="choose__inner">
									<h4><a href="">Toys & Games</a></h4>
									<p>aincididunt ut labore et dolore magnaincidunt ut labore et dolore magnam aliquam qua</p>
								</div>
							</div>
							<!-- End Single Choose -->
						</div>
					</div>
					<!-- End Single Choose Option -->
				</div>
			</div>
		</section>
		<!-- End Choose Us Area -->
		<!-- Start Welcame Area -->
		<section class="junior__welcome__area welcome--2 bg-image--9 section-padding--lg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Welcome To Junior Home</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
						</div>
					</div>
				</div>
				<div class="row jn__welcome__wrapper align-items-center">
					<div class="col-md-12 col-lg-6 col-sm-12">
						<div class="jnr__Welcome__thumb">
							<img src="images/wel-come/2.jpg" alt="images">
							<a class="play__btn" href="https://www.youtube.com/watch?v=MCJEkZtqlBk"><i class="fa fa-play"></i></a>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 col-sm-12 md-mt-40 sm-mt-40">
						<div class="welcome__juniro__inner">
							<h3>Welcome to <span class="theme-color">O</span><span>u</span>r School</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisic mExcepteur sint occaecat cupida proident, sunt in culpaoc caecacupidatat non proident, sunt in culpa qui officia destotarem aperiam, eaque ipsa quae ab illo voluptatemseamet occaecat proident, sunt in culpaoc caecacupidatat non proident, destotarem</p>
							<div class="wel__btn">
								<a class="dcare__btn" href="about-us.html">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Welcame Area -->
		<!-- Start Courses Area -->
		<section class="dcare__courses__area section-padding--lg bg--white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Our Classes</h2>
						</div>
					</div>
				</div>
				<div class="row mt--40">
					<!-- Start Single Courses -->
					{% if c %}
					{% for i in c %}
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="courses">
							<div class="courses__thumb">
								<a href="#">
									<img src="{{MEDIA_URL}}{{i.Course_Pic.url}}" alt="team images">
								</a>
							</div>
							<div class="courses__inner">
								<ul class="courses__meta d-flex">
									<li class="prize">{{i.Price}}</li>
								</ul>
								<div class="courses__wrap">
									<div class="courses__date"><i class="fa fa-calendar"></i>{{i.is_created}}</div>
									<div class="courses__content">
										<h4><a href="#">{{i.Course_Name}}</a></h4>
										<p>{{i.Description}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
					<!-- End Single Courses -->
					<!-- End Single Courses -->
				</div>
			</div>
		</section>
		<!-- End Courses Area -->
		<!-- Start Team Area -->
		<section class="dcare__team__area pb--150 bg--white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Out Teachers</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
						</div>
					</div>
				</div>
				<div class="row mt--40">
					<!-- Start Single Team -->
					{% if t %}
					{% for i in t %}
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="team">
							<div class="team__thumb">
								<a href="#">
									<img src="{{MEDIA_URL}}{{i.profile_pic.url}}" alt="team images">
								</a>
								<div class="team__hover__action">
									<div class="team__hover__inner">
										<p>{{i.Skills}}</p>
										<ul class="dacre__social__link--2 d-flex justify-content-center">
											<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
											<li class="vimeo"><a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="team__details">
								<div class="team__info">
									<h6><a href="#">{{i.Firstname}}</a></h6>
									<span>{{i.Qualification}}</span>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
					<!-- End Single Team -->
					
				</div>
			</div>
		</section>
		<!-- End Team Area -->
		<!-- Start Counter Up Area -->
		<section class="dcare__counterup__area section-padding--lg bg-image--6">	
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="counterup__wrapper d-flex flex-wrap flex-lg-nowrap flex-md-nowrap justify-content-between">
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/1.png" alt="flat icon">
                                </div>
                                <div class="fact__count ">
                                    <span class="count">95</span>
                                </div>
                                <div class="fact__title">
                                    <h2>Student</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/2.png" alt="flat icon">
                                </div>
                                <div class="fact__count ">
                                    <span class="count color--2">95</span>
                                </div>
                                <div class="fact__title">
                                    <h2>classroom</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/3.png" alt="flat icon">
                                </div>
                                <div class="fact__count ">
                                    <span class="count color--3">40</span>
                                </div>
                                <div class="fact__title">
                                    <h2>Teacher</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/4.png" alt="flat icon">
                                </div>
                                <div class="fact__count">
                                    <span class="count color--4">10</span>
                                </div>
                                <div class="fact__title">
                                    <h2>School Bus</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Counter Up Area -->
		
		<!-- //Footer Area -->
        <!-- Cartbox -->
        <div class="cartbox-wrap">
            <div class="cartbox text-right">
                <button class="cartbox-close"><i class="zmdi zmdi-close"></i></button>
                <div class="cartbox__inner text-left">
                    <div class="cartbox__items">
                        <!-- Cartbox Single Item -->
                        <div class="cartbox__item">
                            <div class="cartbox__item__thumb">
                                <a href="shop-single.html">
                                    <img src="images/product/sm-pro/1.jpg" alt="small thumbnail">
                                </a>
                            </div>
                            <div class="cartbox__item__content">
                                <h5><a href="shop-single.html" class="product-name">brown jacket</a></h5>
                                <p>Qty: <span>01</span></p>
                                <span class="price">$15</span>
                            </div>
                            <button class="cartbox__item__remove">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <!-- //Cartbox Single Item -->
                        <!-- Cartbox Single Item -->
                        <div class="cartbox__item">
                            <div class="cartbox__item__thumb">
                                <a href="shop-single.html">
                                    <img src="images/product/sm-pro/2.jpg" alt="small thumbnail">
                                </a>
                            </div>
                            <div class="cartbox__item__content">
                                <h5><a href="shop-single.html" class="product-name">long sleeve t-shirt</a></h5>
                                <p>Qty: <span>01</span></p>
                                <span class="price">$25</span>
                            </div>
                            <button class="cartbox__item__remove">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div><!-- //Cartbox Single Item -->
                        <!-- Cartbox Single Item -->
                        <div class="cartbox__item">
                            <div class="cartbox__item__thumb">
                                <a href="shop-single.html">
                                    <img src="images/product/sm-pro/3.jpg" alt="small thumbnail">
                                </a>
                            </div>
                            <div class="cartbox__item__content">
                                <h5><a href="shop-single.html" class="product-name">black polo shirt</a></h5>
                                <p>Qty: <span>01</span></p>
                                <span class="price">$30</span>
                            </div>
                            <button class="cartbox__item__remove">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <!-- //Cartbox Single Item -->
                    </div>
                    <div class="cartbox__total">
                        <ul>
                            <li><span class="cartbox__total__title">Subtotal</span><span class="price">$70</span></li>
                            <li class="shipping-charge"><span class="cartbox__total__title">Shipping Charge</span><span class="price">$05</span></li>
                            <li class="grandtotal">Total<span class="price">$75</span></li>
                        </ul>
                    </div>
                    <div class="cartbox__buttons">
                        <a class="dcare__btn" href="cart.html"><span>View cart</span></a>
                        <a class="dcare__btn" href="checkout.html"><span>Checkout</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Cartbox -->

        <!-- Register Form -->
        <div class="accountbox-wrapper">
            <div class="accountbox">
                <div class="accountbox__inner">
                	<h4>continue to register</h4>
                    <div class="accountbox__login">
                        <form action="#">
                            <div class="single-input">
                                <input  type="text" placeholder="User name">
                            </div>
                            <div class="single-input">
                                <input type="email" placeholder="E-mail">
                            </div>
                            <div class="single-input">
                                <input type="text" placeholder="Phone">
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="Confirm password">
                            </div>
                            <div class="single-input text-center">
                                <button type="submit" class="sign__btn">Sign Up Now</button>
                            </div>
                            <div class="accountbox-login__others text-center">
                                <h6>or register with</h6>
                                <ul class="dacre__social__link d-flex justify-content-center">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com/"><span class="ti-twitter"></span></a></li>
                                    <li class="pinterest"><a target="_blank" href="#"><span class="ti-google"></span></a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <span class="accountbox-close-button"><i class="zmdi zmdi-close"></i></span>
                </div>
                <h3>Have an account ? Login Fast</h3>
            </div>
        </div><!-- //Register Form -->

        <!-- Login Form -->
        <div class="login-wrapper">
            <div class="accountbox">
                <div class="accountbox__inner">
                	<h4>Login to Continue</h4>
                    <div class="accountbox__login">
                        <form action="#">
                            <div class="single-input">
                                <input type="email" placeholder="E-mail">
                            </div>
                            <div class="single-input">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="single-input text-center">
                                <button type="submit" class="sign__btn">SUBMIT</button>
                            </div>
                            <div class="accountbox-login__others text-center">
                                <ul class="dacre__social__link d-flex justify-content-center">
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/"><span class="ti-facebook"></span></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com/"><span class="ti-twitter"></span></a></li>
                                    <li class="pinterest"><a target="_blank" href="#"><span class="ti-google"></span></a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <span class="accountbox-close-button"><i class="zmdi zmdi-close"></i></span>
                </div>
                <h3>Have an account ? Login Fast</h3>
            </div>
        </div><!-- //Login Form -->

	</div><!-- //Main wrapper -->

	<!-- JS Files -->
	 <script src="{% static '/js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/plugins.js' %}"></script>
    <script src="{% static '/js/active.js' %}"></script>
</body>
</html>

{% endblock %}



